html {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(228, 233, 247);
}

tr.header-resultados {
  background-color: dodgerblue;
  text-align: center;
}

tr.header-resultados > td {
  padding: 10px;
}

tr.time1 {
  background-color: dodgerblue;
}

tr.time1 td:hover:not(.placar, .nome-time) {
  background-color: rgb(20, 113, 206);
}

tr.time2 td:hover:not(.placar, .nome-time) {
  background-color: rgb(20, 113, 206);
}

tr.time1 > td {
  padding: 10px;
}

tr.time2 > td {
  padding: 10px;
  background-color: dodgerblue;
}

table.table-bets > tr {
  align-items: center;
}

table.table-bets {
  width: 75%;
  margin-bottom: 0.2em;
  table-layout: fixed;
  text-align: center;
}

ul.menu-bets {
  margin-top: 80px;
  width: 66%;
  margin-bottom: 0.2em;
  table-layout: fixed;
  text-align: center;
}

ul.menu-bets > li {
  background-color: dodgerblue;
  list-style: none;
  margin: 10px;
  padding: 50px;
  display: inline;
  text-decoration: none;
  border-bottom: 3px solid #ededed;
  border-radius: 20px;
}

ul.menu-bets > li:hover {
  background-color: rgb(162, 186, 211);
  list-style: none;
  margin: 10px;
  padding: 50px;
  display: inline;
  text-decoration: none;
  border-bottom: 3px solid #ededed;
  border-radius: 20px;
}

ul.menu-bets > li > img {
  width: 10.3%;
  text-align: center;
  vertical-align: middle;
}

li.logo > img {
  width: 50px;
}

ul.menu {
  position: relative;
  width: 100%;
  vertical-align: middle;
  margin-bottom: 0.22em;
  text-align: center;
}

ul.menu > li {
  background-color: dodgerblue;
  list-style: none;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  text-decoration: none;
  border-bottom: 3px solid #ededed;
  border-radius: 5px;
}

ul.menu > li:hover {
  background-color: rgb(26, 117, 209);
  list-style: none;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  text-decoration: none;
  border-bottom: 3px solid #ededed;
  border-radius: 5px;
}
